<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="ns" default="drone2" />
    <arg name="anchor_id" default="100" />
    <arg name="ID" default="0"/>
    <arg name="vehicle" default="iris"/>
    <arg name="mavlink_udp_port" default="14560"/>
    <arg name="mavlink_tcp_port" default="4560" />
    <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
    
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.25" />
    <arg name="keyboard" default="0" />

    <!-- UAV0 -->
    <group ns="$(arg ns)">

        <!-- MAVROS and vehicle configs -->
        <!-- <arg name="fcu_url" value="$(arg fcu_url)"/> -->
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="z" value="$(arg z)"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="$(arg mavlink_udp_port)"/>
            <arg name="mavlink_tcp_port" value="$(arg mavlink_tcp_port)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include>

        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>

    <group if="$(eval arg('keyboard') == 1)">
      <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
      </node>
    </group>

  </group>
</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
