<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="world_name" value="$(find mrs_uwb_sim)/worlds/tiers_variety.world"/>

    <arg name="est" default="ekf2"/>
    <!-- Short-term hack to support the original front_laser:=true argument for spawning
        the simulator. This will be removed in favour of using the config:=x arg instead. -->
    <arg name="front_laser" default="false" />
    <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
    <arg name="default_config" value="base" unless="$(arg front_laser)" />
    <!-- end of hack -->

    <!-- Configuration of Husky which you would like to simulate.
        See husky_description for details. -->
    <arg name="config" default="$(arg default_config)" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="1" />
        <arg name="verbose" value="1" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)" />
    </include>

    <node name="uwbsimulator" pkg="mrs_uwb_sim" type="uwbsimulator" respawn="false" output="screen">
        <rosparam file="$(find mrs_uwb_sim)/config/uwbsimulator.yaml" command="load"/>
    </node>

    <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED 0)"/>
    <arg name="realsense_enabled" default="$(optenv HUSKY_REALSENSE_ENABLED 0)"/>

    <include file="$(find mrs_uwb_sim)/launch/spawners/single_husky_spawner.launch">
        <arg name="x" value="-3.1415" />
        <arg name="y" value="9.8765" />
        <arg name="robot_namespace" value="husky0"/>
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
    </include>

    <include file="$(find mrs_uwb_sim)/launch/spawners/single_husky_spawner.launch">
        <arg name="x" value="3.1415" />
        <arg name="y" value="19.8765" />
        <arg name="robot_namespace" value="husky1"/>
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
    </include>

    <group ns="uav0">
        <include file="$(find mrs_uwb_sim)/launch/spawners/px4_sitl_uav_mavros_spawner.launch">
            <arg name="x" value="-10" />
            <arg name="y" value="-5" />
            <arg name="ID" value="0"/>
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560" />
            <arg name="vehicle" value="iris"/>
            <arg name="ns" value="uav0" />
            <arg name="fcu_url" value="udp://:14540@localhost:14580"/>
        </include>
    </group>

    <group ns="uav1">
        <include file="$(find mrs_uwb_sim)/launch/spawners/px4_sitl_uav_mavros_spawner.launch">
            <arg name="x" value="0" />
            <arg name="y" value="-7" />
            <arg name="ID" value="1"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561" />
            <arg name="vehicle" value="iris"/>
            <arg name="ns" value="uav1" />
            <arg name="fcu_url" value="udp://:14541@localhost:14581"/>
        </include>
    </group>

    <group ns="uav2">
        <include file="$(find mrs_uwb_sim)/launch/spawners/px4_sitl_uav_mavros_spawner.launch">
            <arg name="x" value="4" />
            <arg name="y" value="-10" />
            <arg name="ID" value="2"/>
            <arg name="mavlink_udp_port" value="14562"/>
            <arg name="mavlink_tcp_port" value="4562" />
            <arg name="vehicle" value="iris"/>
            <arg name="ns" value="uav2" />
            <arg name="fcu_url" value="udp://:14542@localhost:14582"/>
        </include>
    </group>

</launch>